{{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h3>Editar postagem</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/posts/edit" method="post">
            <input type="hidden" name="id" value="{{post._id}}">
            <label for="title">Título: </label>
                <input type="text" name="title" id="title" placeholder="Título" class="form-control"
                    value="{{post.title}}">
            <label for="slug">Slug: </label>
                <input type="text" name="slug" id="slug" placeholder="Slug da postagem" class="form-control"
                value="{{post.slug}}">
            <label for="description">Descrição: </label>
                <input type="text" name="description" id="description" placeholder="Descrição da postagem"
                class="form-control" value="{{post.description}}">
            <label for="content">Conteúdo: </label>
                <textarea type="text" name="content" id="content" placeholder="Conteúdo da postagem"
                class="form-control">{{post.content}}</textarea>
            <label for="category">Categoria: </label>
            <select name="category" id="category" class="form-select">
                {{#each categories}}
                    <option value="{{_id}}">{{name}}</option>
                {{else}}
                    <option value="0">Nenhuma categoria registrada</option>
                {{/each}}
            </select>


            <button type="submit" class="btn btn-success mt-4">Editar postagem</button>
        </form>
    </div>
</div>